[submodule "site-lisp/idle-require"]
	path = site-lisp/idle-require
	url = https://github.com/nschum/idle-require.el.git
[submodule "site-lisp/ryo-modal"]
	path = site-lisp/ryo-modal
	url = https://github.com/Kungsgeten/ryo-modal.git
[submodule "site-lisp/lua-mode"]
	path = site-lisp/lua-mode
	url = https://github.com/immerrr/lua-mode.git
[submodule "site-lisp/yasnippet"]
	path = site-lisp/yasnippet
	url = https://github.com/joaotavora/yasnippet.git
[submodule "site-lisp/backward-forward"]
	path = site-lisp/backward-forward
	url = https://gitlab.com/vancan1ty/emacs-backward-forward.git
[submodule "site-lisp/dash"]
	path = site-lisp/dash
	url = https://github.com/magnars/dash.el.git
[submodule "site-lisp/helm"]
	path = site-lisp/helm
	url = https://github.com/emacs-helm/helm.git
[submodule "site-lisp/helm-dash"]
	path = site-lisp/helm-dash
	url = https://github.com/areina/helm-dash.git
[submodule "site-lisp/helpful"]
	path = site-lisp/helpful
	url = https://github.com/Wilfred/helpful.git
[submodule "site-lisp/magit"]
	path = site-lisp/magit
	url = https://github.com/magit/magit.git
[submodule "site-lisp/flycheck"]
	path = site-lisp/flycheck
	url = https://github.com/flycheck/flycheck.git
[submodule "site-lisp/php-mode"]
	path = site-lisp/php-mode
	url = https://github.com/emacs-php/php-mode.git
[submodule "site-lisp/youdao-dictionary"]
	path = site-lisp/youdao-dictionary
	url = https://github.com/xuchunyang/youdao-dictionary.el.git
[submodule "site-lisp/qt-pro-mode"]
	path = site-lisp/qt-pro-mode
	url = https://github.com/EricCrosson/qt-pro-mode.git
[submodule "site-lisp/qml-mode"]
	path = site-lisp/qml-mode
	url = https://github.com/cataska/qml-mode.git
[submodule "site-lisp/company-qml"]
	path = site-lisp/company-qml
	url = https://github.com/cute-jumper/company-qml.git
[submodule "site-lisp/org-brain"]
	path = site-lisp/org-brain
	url = https://github.com/Kungsgeten/org-brain.git
[submodule "site-lisp/org-pomodoro"]
	path = site-lisp/org-pomodoro
	url = https://github.com/lolownia/org-pomodoro.git
[submodule "site-lisp/counsel-etags"]
	path = site-lisp/counsel-etags
	url = https://github.com/redguardtoo/counsel-etags.git
[submodule "site-lisp/dumb-jump"]
	path = site-lisp/dumb-jump
	url = https://github.com/jacktasia/dumb-jump.git
[submodule "site-lisp/jinja2-mode"]
	path = site-lisp/jinja2-mode
	url = https://github.com/paradoxxxzero/jinja2-mode.git
[submodule "site-lisp/rainbow-mode"]
	path = site-lisp/rainbow-mode
	url = https://github.com/emacsmirror/rainbow-mode.git
[submodule "site-lisp/hungry-delete"]
	path = site-lisp/hungry-delete
	url = https://github.com/nflath/hungry-delete.git
[submodule "site-lisp/paredit"]
	path = site-lisp/paredit
	url = https://github.com/emacsmirror/paredit.git
[submodule "site-lisp/wgrep"]
	path = site-lisp/wgrep
	url = https://github.com/mhayashi1120/Emacs-wgrep.git
[submodule "site-lisp/which-key"]
	path = site-lisp/which-key
	url = https://github.com/justbur/emacs-which-key.git
[submodule "site-lisp/avy"]
	path = site-lisp/avy
	url = https://github.com/abo-abo/avy.git
[submodule "site-lisp/multiple-cursors"]
	path = site-lisp/multiple-cursors
	url = https://github.com/magnars/multiple-cursors.el.git
[submodule "site-lisp/eno"]
	path = site-lisp/eno
	url = https://github.com/enoson/eno.el.git
[submodule "site-lisp/writeroom-mode"]
	path = site-lisp/writeroom-mode
	url = https://github.com/joostkremers/writeroom-mode.git
[submodule "site-lisp/async"]
	path = site-lisp/async
	url = https://github.com/jwiegley/emacs-async.git
[submodule "site-lisp/swiper-counsel-ivy"]
	path = site-lisp/swiper-counsel-ivy
	url = https://github.com/abo-abo/swiper.git
[submodule "site-lisp/smex"]
	path = site-lisp/smex
	url = https://github.com/nonsequitur/smex.git
[submodule "site-lisp/find-file-in-project"]
	path = site-lisp/find-file-in-project
	url = https://github.com/technomancy/find-file-in-project.git
[submodule "site-lisp/company"]
	path = site-lisp/company
	url = https://github.com/company-mode/company-mode.git
[submodule "site-lisp/company-c-headers"]
	path = site-lisp/company-c-headers
	url = https://github.com/randomphrase/company-c-headers.git
[submodule "site-lisp/smart-compile"]
	path = site-lisp/smart-compile
	url = https://github.com/zenitani/elisp.git
[submodule "site-lisp/yasnippet-snippets"]
	path = site-lisp/yasnippet-snippets
	url = https://github.com/AndreaCrotti/yasnippet-snippets.git
[submodule "site-lisp/pos-tip"]
	path = site-lisp/pos-tip
	url = https://github.com/pitkali/pos-tip.git
[submodule "site-lisp/chinese-word-at-point"]
	path = site-lisp/chinese-word-at-point
	url = https://github.com/xuchunyang/chinese-word-at-point.el.git
[submodule "site-lisp/popup"]
	path = site-lisp/popup
	url = https://github.com/auto-complete/popup-el.git
[submodule "site-lisp/names"]
	path = site-lisp/names
	url = https://github.com/Malabarba/names.git
[submodule "site-lisp/htmlize"]
	path = site-lisp/htmlize
	url = https://github.com/hniksic/emacs-htmlize.git
[submodule "site-lisp/s"]
	path = site-lisp/s
	url = https://github.com/magnars/s.el.git
[submodule "site-lisp/f"]
	path = site-lisp/f
	url = https://github.com/rejeep/f.el.git
[submodule "site-lisp/edit-at-point"]
	path = site-lisp/edit-at-point
	url = https://github.com/enoson/edit-at-point.el.git
[submodule "site-lisp/visual-fill-column"]
	path = site-lisp/visual-fill-column
	url = https://github.com/joostkremers/visual-fill-column.git
[submodule "site-lisp/ghub"]
	path = site-lisp/ghub
	url = https://github.com/magit/ghub.git
[submodule "site-lisp/graphql"]
	path = site-lisp/graphql
	url = https://github.com/vermiculus/graphql.el.git
[submodule "site-lisp/treepy"]
	path = site-lisp/treepy
	url = https://github.com/volrath/treepy.el.git
[submodule "site-lisp/with-editor"]
	path = site-lisp/with-editor
	url = https://github.com/magit/with-editor.git
[submodule "site-lisp/magit-popup"]
	path = site-lisp/magit-popup
	url = https://github.com/magit/magit-popup.git
[submodule "site-lisp/company-php"]
	path = site-lisp/company-php
	url = https://github.com/xcwen/ac-php.git
[submodule "site-lisp/projectile"]
	path = site-lisp/projectile
	url = https://github.com/bbatsov/projectile.git
[submodule "site-lisp/color-rg"]
	path = site-lisp/color-rg
	url = https://github.com/manateelazycat/color-rg.git
[submodule "site-lisp/company-posframe"]
	path = site-lisp/company-posframe
	url = https://github.com/tumashu/company-posframe.git
[submodule "refactor"]
	path = site-lisp/semantic-refactor
	url = https://github.com/tuhdo/semantic-refactor.git
[submodule "site-lisp/awesome-tray"]
	path = site-lisp/awesome-tray
	url = https://github.com/manateelazycat/awesome-tray.git
[submodule "site-lisp/org-wiki"]
	path = site-lisp/org-wiki
	url = https://github.com/caiorss/org-wiki.git
[submodule "site-lisp/posframe"]
	path = site-lisp/posframe
	url = https://github.com/tumashu/posframe.git
[submodule "site-lisp/elisp-refs"]
	path = site-lisp/elisp-refs
	url = https://github.com/Wilfred/elisp-refs.git
[submodule "site-lisp/loop"]
	path = site-lisp/loop
	url = https://github.com/Wilfred/loop.el.git
[submodule "site-lisp/shut-up"]
	path = site-lisp/shut-up
	url = https://github.com/cask/shut-up.git
[submodule "site-lisp/moe-theme"]
	path = site-lisp/moe-theme
	url = https://github.com/kuanyui/moe-theme.el.git
[submodule "site-lisp/aweshell"]
	path = site-lisp/aweshell
	url = https://github.com/manateelazycat/aweshell.git
[submodule "site-lisp/ox-hugo"]
	path = site-lisp/ox-hugo
	url = https://github.com/kaushalmodi/ox-hugo.git
[submodule "site-lisp/super-save"]
	path = site-lisp/super-save
	url = https://github.com/bbatsov/super-save.git
[submodule "site-lisp/xah-html-mode"]
	path = site-lisp/xah-html-mode
	url = https://github.com/xahlee/xah-html-mode.el.git