auto-save-list/
elpa/
*~
custom-set-variables.el
server/
cnfonts/
bookmarks
ido.last
recentf
smex-items
semanticdb
eshell/
places
diary
irony/
projectile.cache
projectile-bookmarks.eld
ede-projects.el
company-statistics-cache.el
persp-confs/
.elscreen
.emacs.desktop*
.cache*
url/
.org-id-locations
config.el
virtual.dired
eww-bookmarks